html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: grid;
    grid-template-areas:
        'header'
        'main'
        'footer';
}

header h1 {
    flex: 1.5;
    font-size: 1.8rem;
}

a {
    text-decoration: none;
}

header {
    display: flex;
    color: azure;
    padding: 0 30px;
    max-height: 70px;
    align-items: center;
    border-bottom: 1px solid rgba(20, 40, 60, 0.25);
    background: rgba(10, 130, 220, 0.835);
    background: linear-gradient(to left, rgb(20, 150, 180), rgb(10, 120, 230));
}

footer {
    color: azure;
    padding: 10px;
    margin-top: 30px;
    max-height: 80px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.85);
}

.active {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.nav-menu {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.nav-menu li {
    list-style: none;
}

.nav-menu a {
    font-size: 1.2rem;
    padding-bottom: 2px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav-menu a:hover {
    color: rgb(180, 180, 180);
    border-bottom: 1px solid rgb(255, 255, 255);
}

.nav-menu .nav-item {
    padding: 0 10px 0 10px;
}

.burger-bar {
    display: none;
    flex-direction: column;
}

.burger-bar span {
    width: 1.8rem;
    margin: 3px;
    height: 3px;
    background-color: white;
}

.display-flex {
    display: flex !important;
}

.display-none {
    display: none !important;
}

.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.hero {
    max-height: 40vh;
    padding: 30px;
    margin-bottom: 30px;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to bottom right, rgba(100, 160, 200, 0.65), rgba(150, 185, 230, 0.385)), url("../img/hero-backgroud.jpg");
}


.hero h1 {
    color: azure;
    font-weight: 400;
    font-size: 2.8rem;
}

.profile {
    width: 130px;
    border-radius: 100px;
}

.projects {
    display: grid;
    grid-gap: 20px;
    justify-content: center;
    padding: 20px 10% 20px 10%;
    grid-template-columns: repeat(auto-fill, 300px);
}

.project {
    padding: 10px;
    color: black;
    border-radius: 5px;
    border: 1px solid rgb(185, 185, 185);
    box-shadow: -5px 5px 10px 0px rgba(85, 95, 100, 0.45);
}

.project:hover {
    box-shadow: 0px 0px 20px 5px rgba(85, 95, 100, 0.45);
}

.checkmark-image,
.project-image {
    margin: auto;
    max-width: 280px;
    border-radius: 5px;
}

.logo-icon {
    padding: 2px;
    max-width: 30px;
    min-height: 30px;
    border-radius: 5px;
    border: 1px dashed rgb(145, 145, 200);
}

.logo-icon:hover {
    border: 1px dashed rgb(35, 195, 255);
}

.project>h1,
h2,
h3,
p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.about {
    padding-top: 5%;
    padding-left: 25%;
    padding-right: 25%;
}

.center-text {
    text-align: center;
}

.contact {
    margin: auto;
    padding: 30px;
    min-width: 40vw;
    max-width: 80vw;
}

#contact-message {
    min-width: 40vw;
    max-width: 80vw;
    min-height: 200px;
}

#submit-button {
    color: azure;
    height: 40px;
    margin: 30px 5px 0px 5px;
    border: 1px solid rgba(10, 129, 220, 0.425);
    background-color: rgba(10, 130, 220, 0.835);
}

#submitted {
    margin: auto;
    padding: 10%;
}

.border-red {
    border: 1px solid rgb(218, 109, 109);
}

input-group {
    margin: 5px;
    display: flex;
    flex-direction: column;
}

input-group label {
    margin-bottom: 5px;
}

input-group input,
select {
    min-height: 30px;
}

@media only screen and (max-width: 430px) {
    .about {
        padding-top: 5%;
        padding-left: 8%;
        padding-right: 8%;
    }

    .contact {
        min-width: 60vw;
    }

}

@media only screen and (max-width: 768px) {
    #nav {
        left: 0;
        width: 100%;
        display: none;
        margin-top: 8.4rem;
        position: absolute;
        background: linear-gradient(to top left, rgb(80, 130, 180), rgb(60, 90, 160))
    }

    .contact {
        min-width: 80vw;
    }

    header .nav-menu {
        padding: 0px 0px 0px 20px;
        flex-direction: column;
    }

    .nav-menu .nav-item {
        padding: 0.625rem;
    }

    header .burger-bar {
        display: flex;
    }
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: rgba(100, 110, 160, 0.15);
}

::-webkit-scrollbar-track:hover {
    background: rgba(50, 80, 160, 0.15);
}

::-webkit-scrollbar-thumb {
    background: rgba(100, 110, 160, 0.6);
    border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
    background: rgba(50, 80, 160, 0.60);
}