html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header h1 {
    flex: 1.5;
    font-size: 1.8rem;
}

header {
    display: flex;
    color: azure;
    padding: 0 30px;
    align-items: center;
    border-bottom: 1px solid rgba(20, 40, 60, 0.25);
    background: rgba(10, 130, 220, 0.835);
    background: linear-gradient(to left, rgb(20, 150, 180), rgb(10, 120, 230));
}

footer {
    color: azure;
    padding: 10px;
    margin-top: 30px;
    text-align: center;
    justify-self: flex-end;
    background-color: rgba(0, 0, 0, 0.85);
}

.active {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.nav-menu {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.nav-menu li {
    list-style: none;
}

.nav-menu a {
    font-size: 1.2rem;
    padding-bottom: 2px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav-menu a:hover {
    color: rgb(180, 180, 180);
    border-bottom: 1px solid rgb(255, 255, 255);
}

.nav-menu .nav-item {
    padding: 0 10px 0 10px;
}

.burger-bar {
    display: none;
    flex-direction: column;
}

.burger-bar span {
    width: 1.8rem;
    margin: 3px;
    height: 3px;
    background-color: white;
}

.display-flex {
    display: flex !important;
}

.content {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.content .hero {
    height: 40vh;
    padding: 10px;
    margin-bottom: 20px;
    align-items: center;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to bottom right, rgba(100, 160, 200, 0.65), rgba(150, 185, 230, 0.385)), url("../img/hero-backgroud.jpg");
}

@media only screen and (max-width: 768px) {
    #nav {
        left: 0;
        width: 100%;
        display: none;
        margin-top: 8.5rem;
        position: absolute;
        background: linear-gradient(to top left, rgb(80, 130, 180), rgb(60, 90, 160))
    }

    header .nav-menu {
        padding: 0px 0px 0px 20px;
        flex-direction: column;
    }

    .nav-menu .nav-item {
        padding: 0.625rem;
    }

    header .burger-bar {
        display: flex;
    }
}