html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

header h1 {
    flex: 1.5;
    font-size: 1.8rem;
}

header {
    display: flex;
    color: azure;
    padding: 0 30px;
    align-items: center;
    border-bottom: 1px solid rgba(25, 35, 45, 0.5);
    background: rgba(0, 115, 215, 0.835);
    background: linear-gradient(to right, rgb(35, 145, 180), rgb(25, 125, 215));
}

footer {
    color: azure;
    padding: 10px;
    margin-top: 30px;
    text-align: center;
    justify-self: flex-end;
    background-color: rgba(0, 0, 0, 0.85);
}

.active {
    border-bottom: 1px solid rgb(255, 255, 255);
}

.nav-menu {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
}

.nav-menu li {
    list-style: none;
}

.nav-menu a {
    font-size: 1.2rem;
    padding-bottom: 2px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}

.nav-menu a:hover {
    color: rgb(189, 189, 189);
    border-bottom: 1px solid rgb(255, 255, 255);
}


.nav-menu .nav-item {
    padding: 0 10px 0 10px;
}

.burger-bar {
    display: none;
    flex-direction: column;
}

.burger-bar span {
    width: 1.8rem;
    margin: 3px;
    height: 3px;
    background-color: white;
}

@media only screen and (max-width: 768px) {
    #nav {
        left: 0;
        width: 100%;
        display: none;
        margin-top: 8.5rem;
        position: absolute;
        background-color: rgb(60, 70, 180);
    }

    header .nav-menu {
        padding: 0px 0px 0px 20px;
        flex-direction: column;
    }

    .nav-menu .nav-item {
        padding: 0.625rem;
    }

    header .burger-bar {
        display: flex;
    }
}